<!-- Content -->
<div id="content">
    <div class="left-section">
        <div class="header">
            <strong>Accounts</strong>

            <div class="actions">
                <button ng-click="addAccount()">Add Account</button>
                <button>Refresh</button>
            </div>
        </div>

        <table>
            <tr>
                <th>Name</th>
                <th>Market Value</th>
                <th>Cash</th>
                <th>Legend</th>
            </tr>

            <tr ng-repeat="row in rows">
                <td>{{ row.name }}</td>
                <td>{{ row.marketValue | currency }}</td>
                <td>{{ row.cash | currency }}</td>
                <td>
                    <div class="legend" style="background-color: {{ row.legend }}"></div>
                </td>
            </tr>

            <tr class="totals">
                <td><strong>Total</strong></td>
                <td>
                    <strong>{{ totals.marketValue | currency }}</strong>
                </td>
                <td>
                    <strong>{{ totals.cash | currency }}</strong>
                </td>
                <td></td>
            </tr>
        </table>
    </div>

    <section class="right-section">
        <img class="chart" src="images/chart.png" alt="Chart">

        <div class="help-label">Click on an account to view positions</div>
    </section>

</div>
